<!DOCTYPE html">
<html>
<head>
	<title>Ma Ludothèque</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="res/style/style.css" />
</head>
<body>
	<div id="header">
		<div class="header-logo">
			<img class="logo-img" src="res/img/logo.png" /> <span style="padding-left: 15px;">Ma Ludothèque</span>
		</div>
		<div class="header-menu">
			<ul id="menu_horizontal">
				<li><a href="index.html" class="bouton">Accueil</a></li>
				<li><a href="liste.html" class="bouton">Liste des jeux</a></li>  			
				<li><a href="ajouter.html" class="bouton">Ajouter un jeu</a></li>
			</ul>
		</div>
	</div>
	<div id="content2">
		<div class="column2">			
			<h3 class="title"> Anachrony </h3>
			<div class="item-game">
				<div style="display: inline-block;">
					<div class="game-description2">
						<div class="imgg">	
							<img src="res/img/anachrony1.jpg" width="300px" height="300px"/>
						</div>
						<div class="detail-game">
							<p><b>Thème :</b> Post-Apocalyspe / Science-Fiction &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="res/img/nombre.png" width="25px" height="25px" style="vertical-align: middle;"/> 1 à 4 joueurs<br/><br/>
								<b>Auteur :</b> Dàvid Turczi &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; <img src="res/img/age.png" width="25px" height="25px" style="vertical-align: middle;"/> 15+<br/><br/>
								<b>Editeur :</b> Mindclash Game &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<img src="res/img/montre.png" width="25px" height="25px" style="vertical-align: middle;"/> 120min<br/><br/>
								<b>Année de sortie :</b> 2017 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="res/img/plateau.png" width="25px" height="25px" style="vertical-align: middle;"/> Plateau<br/><br/>
								<b>Note personnel attibué au jeu :  </b><img src="res/img/ratings.png" width="100px" height="20px" style="vertical-align: middle;"/><br/><br/>
								<b>Lien vers revendeur :  <a style="color : black;" href="https://www.philibertnet.com/fr/mindclash-games/49544-anachrony-645871789281.html">Philibert</a></b>
							</p>
						</div>
					</div>
					<hr/>
					<div class="game-description1">	
						<h4>Déscription</h4>
						<p>Le monde a changé. Nous sommes au 26ème siècle et la Nouvelle Terre récupère peu à peu du Jour de la Purge : le jour où une explosion mystérieuse et catastrophique a secoué la planète entière. La majorité de la population a été exterminée et la majeure partie de la surface est devenue inhabitable. Personne n’a vraiment compris ce qui a causé cette apocalypse - la seule chose que les survivants ont pu faire a été de trouver un abri jusqu’à ce que la poussière soit retombée.<br/>
							<br/>Jeu de stratégie/gestion mélangeant placement d’ouvriers, gestion de cartes, système de points d’action et pouvoirs asymétriques selon la faction, Anachrony est un événement pour tous les amoureux de jeux de gestion et les fans de SF.
						</p>
					</div>
					<img src="res/img/anachrony2.jpg" width="275px" height="183px" style="margin-top: 30px"/>
					<div style="display: inline-block;">
						<div class="game-description2">
							<div class="imgg">
								<img src="res/img/anachrony3.jpg" width="275px" height="183px"/>
							</div>				   
							<div class="txtd">
								<p>Anachrony dispose d’un système unique de placement d’ouvriers, à deux niveaux. Pour se rendre à la capitale ou s’aventurer dans les régions dévastées, afin d’obtenir des ressources, les joueurs ont besoin de divers spécialistes (ingénieurs, scientifiques, etc.) mais également d’exosquelettes pour les protéger. En activant les Failles temporelles, les joueurs peuvent revenir à des tours antérieurs pour se livrer des ressources à eux-mêmes.<br/>
									<br/>Lors du cataclysme, la capitale est détruite et c’est la colonie la plus en vue qui sera le nouveau fleuron du monde…
								</p>
							</div>
							<center><img src="res/img/anachrony5.jpeg" width="576px" height="240px" style="margin-top:30px"/><br/>
								<i>(Contenu de la boîte de jeu Anachrony)</i>
							</center>
						</div>
					</div>
				</div>
			</div>            
		</div>
	</div>
</body>
<footer class="footer">
	<div style="margin: auto;">
		<div class=citation>
			<i>"On ne cesse pas de jouer quand on devient vieux, mais on devient vieux quand on cesse de jouer"</i><br />
			(Georges Bernard Shaw)
		</div>
		<p>&copy; Hutet Axel - Tous droits réservés</p>
	</div>

</footer>		
</html>





















