<!DOCTYPE html">
<html>
<head>
	<title>Ma Ludothèque</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="res/style/style.css" />
</head>
<body>
	<div id="header">
		<div class="header-logo">
			<img class="logo-img" src="res/img/logo.png" /> <span style="padding-left: 15px;">Ma Ludothèque</span>
		</div>
		<div class="header-menu">
			<ul id="menu_horizontal">
				<li><a href="index.html" class="bouton">Accueil</a></li>
				<li><a href="liste.html" class="bouton">Liste des jeux</a></li>  			
				<li><a href="ajouter.html" class="bouton">Ajouter un jeu</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="column">
			<div class="last-games">
				<h3 class="title"> Derniers jeux </h3>
				<div class="item-game">
					<div class="game-img">
						<img src="res/img/civilization.jpg" width="120px" height="120px" alt="Sid Meier’s Civilization: Une aube nouvelle" />
					</div>
					<div class="game-description">
						<p class="title-game">Sid Meier’s Civilization: Une Aube nouvelle</p>
						<p>Proposant des parties au rythme soutenu grâce à des règles facilement assimilables, cette adaptation propulse les joueurs à la tête d’une nation lancée dans une course effrénée pour obtenir des territoires, des technologies, et des Merveilles capables de changer le cours de son Histoire.</p>
						<p class="date-add">Ajouté il y a 2 jours</p>
					</div>
				</div>
				<div class="item-game">
					<div class="game-img">
						<img src="res/img/pandemie.jpg" width="120px" height="120px" alt="Pandémie" />
					</div>
					<div class="game-description">
						<p class="title-game">Pandémie</p>
						<p>Dans Pandemie, gardez votre calme ! Vous incarnez un membre d'une équipe de chercheurs qui lutte contre la propagation de plusieurs maladies virulentes. Vous devrez vaincre ces fléaux en retardant leur propagation tout en recherchant des remèdes pour chacun des quatre virus avant qu'ils ne dégénèrent.</p>
						<p class="date-add">Ajouté il y a 5 jours</p>
					</div>
				</div>
				<div class="item-game">
					<div class="game-img">
						<img src="res/img/batawaf.jpg" width="120px" height="120px" alt="Bata-waf" />
					</div>
					<div class="game-description">
						<p class="title-game">Bata-waf</p>
						<p>Jeu de bataille. C'est le plus grand chien qui gagne ! Et si deux chiens sont de la même taille, attention ! Il y'a Bata-waf ! ...</p>
						<p class="date-add">Ajouté il y a 7 jours</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="random-game">
				<h3 class="title"> Jeu au hasard </h3>
				<div class="item-game">
					<div class="game-img">
						<img src="res/img/risk.jpg" width="120px" height="120px" alt="Risk" />
					</div>
					<div class="game-description">
						<p class="title-game">Risk</p>
						<p>Le jeu de conquête stratégique ! Le monde appartient aux audacieux, l'êtes-vous assez pour gagner ? Déplacez vos régiments, choisissez votre stratégie et que la conquête du monde commence !</p>
						<p class="date-add">Ajouté il y a 17 jours</p>
					</div>
				</div>
			</div>
			<div class="best-game">
				<h3 class="title"> Meilleur jeu </h3>
				<div class="item-game">
					<div class="game-img">
						<a href="details.html"><img src="res/img/anachrony.jpg" width="120px" height="120px" alt="Anachrony" /></a>
					</div>
					<div class="game-description">
						<p class="title-game"><a style="color : black; text-decoration: none;"href="details.html">Anachrony</a></p>
						<p>Anachrony est un jeu de stratégie/gestion proposant une mécanique innovante permettant de revenir en arrière en activant des Failles Temporelles.</p>
						<p class="date-add">Ajouté il y a 12 jours</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer class="footer">
		<div style="margin: auto;">
			<div class=citation>
				<i>"On ne cesse pas de jouer quand on devient vieux, mais on devient vieux quand on cesse de jouer"</i><br />
				(Georges Bernard Shaw)
			</div>
			<p>&copy; Hutet Axel - Tous droits réservés</p>
		</div>

	</footer>		
	</html>





















